/*css*/

#topheader{
	background-color: #FF6600;
}

.topclear {
	clear:both;
}


ul	{
	overflow-y: auto;
	overflow-x: hidden;
	color: black;
	border-style: outset;
	border-width: 5px;
	border-style: solid;
	padding: 5px;
	padding-bottom: 15px;
}

h1 {
	font-family: "Georgia", Serif;
	text-align: center;
}


